<div class="border-t-2 border-secondary pt-8">
	<div class="flex space-x-4">
		<span class="bg-secondary text-primary p-2">Twitter</span>
		<span class="bg-secondary text-primary p-2">LinkedIn</span>
		<span class="bg-secondary text-primary p-2">Facebook</span>
	</div>

	<div class="lg:flex space-y-4 lg:space-y-0 lg:space-x-4 my-12">
		<div>About</div>
		<div>For Business</div>
		<div>Suggestions</div>
		<div>Help & FAQs</div>
		<div>Contacts</div>
		<div>Pricing</div>
	</div>

	<div>
		&copy; 2023 Reyhan Fabiano.
	</div>

	<div class="flex space-x-4">
		<span>Privacy</span>
		<span>Terms</span>
	</div>
</div>