<div class="mx-auto max-w-2xl pt-4 pb-16 px-4 sm:pt-6 sm:pb-24 sm:px-6 lg:max-w-7xl lg:px-8">
	<!-- Navbar Start -->
	<app-navbar></app-navbar>
	<!-- Navbar End -->

	<!-- Content Start -->
	<div class="lg:flex space-y-8 lg:space-y-0 lg:space-x-8 my-16">
		<div class="lg:w-3/5 space-y-8">
			<videos-list></videos-list>
			<div class="w-full bg-secondary h-64"></div>
		</div>
		<div class="lg:w-2/5 space-y-8">
			<div>
				<div class="flex justify-between items-end mb-4">
					<h2 class="font-bold text-xl">Activity</h2>
					<span class="text-sm">Filter</span>
				</div>
			</div>
			<div class="w-full bg-secondary h-64"></div>
		</div>
	</div>
	<!-- Content End -->

	<!-- Footer Start -->
	<app-footer></app-footer>
	<!-- Footer End -->
</div>