<div>
	<div class="flex justify-between items-end mb-4">
		<h2 class="font-bold text-xl">Channels</h2>
		<span class="text-sm">Explore more</span>
	</div>
	<div class="grid grid-cols-1 gap-y-5 gap-x-3 sm:grid-cols-2 xl:gap-x-4 text-primary text-xs font-medium">
		<div class="bg-cover h-48 w-full flex items-end py-2 px-4" *ngFor="let item of data.data"
			[ngStyle]="{ 'background-image': 'url(' + item.image + ')' }">
			<span class="rounded-full py-2 px-4 bg-secondary">{{item.name}}</span>
		</div>
	</div>
</div>